   <section class="hero">
            <div class="hero-inner">
                <h1>Great Finds Delivered</h1>
                <h2>Handpicked Listings From Across the Web Delivered to Your Inbox</h2>
                <a href="" class="btn">Get Finding</a>
            </div>
        </section>