// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    margin: 0;
    font-family: verdana, arial, helvetica, sans-serif;
      font-size: 13px;
  line-height: 18px;
}


.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://www.lensrentals.com/blog/media/2015/11/Car-Photography-Guide-2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white; 
    text-decoration: none;
    font-size: 1.5em;
      font-family: verdana, arial, helvetica, sans-serif;
    
    /* Border styles */
    border: 5px solid white; 


 -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.4s;

}

.hero .btn:hover {
 margin-top: 45px;
border: 6px solid white; 
 font-size: 1.75em;

}
